.search-wrap {
  background: #fff;
  margin: 25px 20px;

  .input-wrap {
    position: relative;

    input {
      padding: 26px 26px 26px 50px;
      font-size: 14px;
    }
    ::placeholder {
      color: darkgray;
    }

    .search-icon-wrap {
      position: absolute;
      left: 20px;
      top: 0;
      bottom: 0;
      z-index: 20;
      height: 100%;
      display: flex;
      justify-content: center;
      align-self: center;
      svg {
        margin: auto;
        path {
          fill: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }
}
